@import "variables";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: calc(100vh - #{$header-height + $footer-height});
  .choosing-box {
    width: 100%;
    margin: 12px;
    .choosing-text {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 24px;
      span {
        font-size: 24px;
      }
    }
    .choosing-buttons {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      button {
        margin: 12px;
        padding: 32px;
        flex-basis: 100%;
        width: min(450px, calc(100vw - 24px));
        min-height: 150px;
        span {
          white-space: normal;
          font-size: 20px;
        }
      }
    }
  }
}
