<div class="container">
  <div class="choosing-box">
    <div class="choosing-text">
      <span>
        Wybierz rodzaj wniosku:
      </span>
    </div>
    <div class="choosing-buttons">
      <a [routerLink]="paths[7]"><button mat-flat-button color="primary">
        <span>Wniosek na wyjazd służbowy za granicę</span>
      </button></a>
      <a [routerLink]="paths[8]"><button mat-flat-button color="primary">
        <span>Rozliczenie zaliczki z tytułu wyjazdu służbowego za granicę</span>
      </button></a>
    </div>
  </div>
</div>
