
<div *ngIf = "dataSource" class = "mainContainer mat-elevation-z8">

  <!-- <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner class="spinner"></mat-spinner>
  </div> -->
  <table mat-table [dataSource]="dataSource" matSort matSortDisableClear>

    <ng-container [matColumnDef]="tableData" *ngFor="let tableData of objectKeys(columnHeader)">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> 
          {{columnHeader[tableData].description}}
        </th>
        <td mat-cell *matCellDef="let element; let i=index;">
           {{element[tableData]}}
        </td>
    </ng-container>

    <ng-container [matColumnDef]="tableFilter" *ngFor="let tableFilter of objectKeys(columnFilters)">
      <th mat-header-cell *matHeaderCellDef> 
        <div [ngSwitch] = "columnFilters[tableFilter].type">
          <mat-form-field *ngSwitchCase="'text'" appearance="outline" class = "filter">
            <input matInput type="text" (keyup)="onFilterChange($event, tableFilter)" (paste)="onFilterChange($event, tableFilter)" [id] = "tableFilter">
          </mat-form-field >
          <mat-form-field *ngSwitchCase="'date'" appearance="outline" class = "filter">
            <input matInput [matDatepicker]="picker" (dateChange)="onDateFilterChange($event, tableFilter)">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field >
        </div>
      </th>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="objectKeys(columnHeader)"></tr>
    <tr mat-header-row *matHeaderRowDef="objectKeys(columnFilters)"></tr>
    <tr mat-row *matRowDef="let row; columns: objectKeys(columnHeader);" (click) = onRowClicked(row)></tr>
  </table>
  <mat-paginator [length]="objectCount" [pageSizeOptions]="pageSizeOptions"></mat-paginator>

</div>