@import "variables";

.mainContainer {
  width: 90%;
  margin: auto;
  table {
    width: 100%;
    .table-row:hover {
      cursor: pointer;
      background-color: $link-hover-color;
    }
    .filter {
      width: 90%;
      margin-right: 1px;
      margin-top: 15px
    }
  }
  //.spinner {
  //    margin: auto;
  //}
}


