@import "variables";

.main-container {
  width: 100%;
  table {
    .table-row:hover {
      cursor: pointer;
      background-color: $link-hover-color;
    }
    .filter {
      width: calc(100% - 16px);
      margin-right: 4px;
      margin-top: 16px
    }
    input {
      font-size: 16px;
    }
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  .mat-table {
    width: 100%;
    max-width: 100%;
    display: table;
    border-collapse: collapse;
  }
  .mat-row, .mat-header-row {
    display: table-row;
  }
  .mat-cell, .mat-header-cell {
    display: table-cell;
    line-break: unset;
    width: auto;
    overflow: hidden;
    vertical-align: middle;
    padding-right: 8px;
  }
}


.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .filter-name {
    margin-left: 16px;
  }
  mat-form-field {
    flex: 1 1 0;
    display: block;
    padding: 10px;
    width: 300px;
    input {
      color: black;
    }
  }
}


