@import "variables";

.main-container {
  width: 100%;
  table {
    width: 100%;
    .table-row:hover {
      cursor: pointer;
      background-color: $link-hover-color;
    }
    .filter {
      width: calc(100% - 16px);
      margin-right: 4px;
      margin-top: 16px
    }
    input {
      font-size: 16px;
    }
  }
}


.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  mat-form-field {
    flex: 1 1 0;
    display: block;
    padding: 5px;
    min-width: min(425px, calc(100vw - 20px));
    input {
      color: black;
    }
  }
}


