@import "variables";

mat-toolbar {
  height: $footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span {
    font-size: 0.85em;
    font-weight: lighter;
    a {
      text-decoration: none;
      color: rgb(178, 178, 178);
      font-weight: 500;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
