.container {
  display: flex;
  justify-content: center;
  align-items: center;
  .list {
    display: flex;
    flex-direction: column;
    width: 100%;
    .item {
      padding: 0 20px 0;
    }
    .header {
      padding-top: 20px;
      line-height: 1.25;
      font-size: 24px;
    }
    .grid {
      padding-top: 8px;
    }
  }
}

