<div>
  <div class="content">
    <app-header
    [sidenav]="sidenav"></app-header>
    <div class="main-section">
      <mat-sidenav-container [hasBackdrop]="false">
        <mat-sidenav
          #sidenav>
          <div class="menu">
            <app-side-menu></app-side-menu>
          </div>
        </mat-sidenav>
        <mat-sidenav-content>
          <div class="current-page">
            <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
  <app-footer></app-footer>
</div>
