<div class="wrapper">
  <ngx-spinner bdColor = "rgba(0,0,0,0.2)" size = "large" color = "#fff" type = "ball-triangle-path" [fullScreen] = "true"></ngx-spinner>
  <div class="content">
    <app-header
      [sidenav]="sidenav"></app-header>
    <mat-sidenav-container [hasBackdrop]="false">
      <mat-sidenav
        #sidenav>
        <app-side-menu
          [sidenav]="sidenav"></app-side-menu>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <app-footer></app-footer>
</div>
