html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import 'main-style';

.asterisk {
  font-size: 1.5em;
  margin-right: 12px;
  color: red;
}
