<div class="container">

  <form>

    <div class="title main-title">
      <span>Wniosek o wyjazd służbowy za granicę</span>
    </div>

    <div class="form-group basic-info">
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Imię i nazwisko</span></mat-label>
        <input matInput #firstNameAndSurname>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Tytuł, stopień naukowy, stanowisko</span></mat-label>
        <input matInput #academicTitle>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Instytut/katedra/wydział</span></mat-label>
        <input matInput #institute>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Telefon kontaktowy</span></mat-label>
        <input matInput #phoneNumber>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Wyjazd do</span></mat-label>
        <mat-hint align="start"><span>Miejscowość, kraj</span></mat-hint>
        <input matInput #destination>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Termin wyjazdu</span></mat-label>
        <mat-date-range-input [rangePicker]="abroadPicker" #abroadDate (click)="abroadPicker.open()">
          <input matStartDate placeholder="Data wyjazdu" readonly>
          <input matEndDate placeholder="Data przyjazdu" readonly>
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="abroadPicker"></mat-datepicker-toggle>
        <mat-date-range-picker #abroadPicker></mat-date-range-picker>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Cel wyjazdu</span></mat-label>
        <input matInput #purpose>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Nazwa konferencji / Instytucja zapraszająca</span></mat-label>
        <input matInput #conference>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Temat referatu, autorzy</span></mat-label>
        <input matInput #subject>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Termin konferencji</span></mat-label>
        <mat-date-range-input [rangePicker]="conferencePicker" #conferenceDate (click)="conferencePicker.open()">
          <input matStartDate placeholder="Początek" readonly>
          <input matEndDate placeholder="Koniec" readonly>
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="conferencePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #conferencePicker></mat-date-range-picker>
      </mat-form-field>
    </div>

    <div class="title subtitle">
      <span>Źródło finansowania</span>
    </div>

    <div class="form-group financial-source">
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Konto alokacji</span></mat-label>
        <input matInput #allocationAccount>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>MPK</span></mat-label>
        <input matInput #MPK>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Źródło finansowania</span></mat-label>
        <input matInput #financialSource>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Projekt</span></mat-label>
        <input matInput #project>
      </mat-form-field>
    </div>

    <div class="title subtitle">
      <span>Transport</span>
    </div>

    <div class="form-group transport">
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Rodzaj środka transportu</span></mat-label>
        <mat-select #vehicleSelect>
          <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.value"><span>{{vehicle.name}}</span></mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Trasa</span></mat-label>
        <textarea matInput #route></textarea>
      </mat-form-field>
      <div class="datetime">
        <mat-form-field [appearance]="formFieldsStyle">
          <mat-label><span>Minuta wyjazdu</span></mat-label>
          <mat-select #departureMinuteSelect>
            <mat-option *ngFor="let minute of minutes" [value]="minute"><span>{{minute}}</span></mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field [appearance]="formFieldsStyle">
          <mat-label><span>Godzina wyjazdu</span></mat-label>
          <mat-select #departureHourSelect>
            <mat-option *ngFor="let hour of hours" [value]="hour"><span>{{hour}}</span></mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field [appearance]="formFieldsStyle">
          <mat-label>Dzień wyjazdu</mat-label>
          <input matInput [matDatepicker]="departurePicker" #departureDate readonly (click)="departurePicker.open()">
          <mat-datepicker-toggle matSuffix [for]="departurePicker"></mat-datepicker-toggle>
          <mat-datepicker #departurePicker></mat-datepicker>
        </mat-form-field>
      </div>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Przewoźnik</span></mat-label>
        <input matInput #carrier>
      </mat-form-field>
    </div>

    <div class="title subtitle">
      <span>Ubezpieczenie kosztów leczenia i następstw nieszczęśliwych wypadków</span>
    </div>
    <div class="info-text">
      <span>
        Jeżeli wniosek na wyjazd służbowy zostanie dostarczony do sekcji Współpracy z Zagranicą później niż 4-5 dni przed wyjazdem, pracownik zobowiązany jest ubezpieczyć się sam.
      </span>
    </div>

    <div class="form-group insurance">
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Imię i nazwisko</span></mat-label>
        <input matInput #firstNameAndSurnameInsurance>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label>Data urodzenia</mat-label>
        <input matInput [matDatepicker]="birthPicker" #birthDate>
        <mat-datepicker-toggle matSuffix [for]="birthPicker"></mat-datepicker-toggle>
        <mat-datepicker #birthPicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Kraj wyjazdu</span></mat-label>
        <input matInput #departureCountry>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Okres pobytu za granicą</span></mat-label>
        <mat-date-range-input [rangePicker]="insurancePicker" #abroadDateInsurance (click)="insurancePicker.open()">
          <input matStartDate placeholder="Początek" readonly>
          <input matEndDate placeholder="Koniec" readonly>
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="insurancePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #insurancePicker></mat-date-range-picker>
      </mat-form-field>
      <mat-checkbox class="example-margin" #selfInsuredCheckbox><span>Ubezpieczę się sam</span></mat-checkbox>
    </div>

    <div class="title subtitle">
      <span>Wniosek o zaliczkę dewizową</span>
    </div>

    <div class="form-group advance-payment-request">
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Na wyjazd do</span></mat-label>
        <input matInput #requestPaymentDestination>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>W terminie</span></mat-label>
        <mat-date-range-input [rangePicker]="advancePaymentRequestPicker" #requestPaymentDate (click)="advancePaymentRequestPicker.open()">
          <input matStartDate placeholder="Początek" readonly>
          <input matEndDate placeholder="Koniec" readonly>
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="advancePaymentRequestPicker"></mat-datepicker-toggle>
        <mat-date-range-picker #advancePaymentRequestPicker></mat-date-range-picker>
      </mat-form-field>
      <div class="advance-payment-request-list">
        <mat-form-field [appearance]="formFieldsStyle">
          <mat-label><span>Diety pobytowe: liczba</span></mat-label>
          <input matInput #requestPaymentDays>
        </mat-form-field>
        <mat-form-field [appearance]="formFieldsStyle">
          <mat-label><span>Kwota diety</span></mat-label>
          <input matInput #requestPaymentDaysAmount>
        </mat-form-field>
        <mat-form-field [appearance]="formFieldsStyle">
          <mat-label><span>Noclegi: liczba</span></mat-label>
          <input matInput #requestPaymentAccommodation>
        </mat-form-field>
        <mat-form-field [appearance]="formFieldsStyle">
          <mat-label><span>Limit/ryczałt</span></mat-label>
          <input matInput #requestPaymentAccommodationLimit>
        </mat-form-field>
        <mat-form-field class="two-columns-form-field" [appearance]="formFieldsStyle">
          <mat-label><span>Dieta dojazdowa</span></mat-label>
          <input matInput #requestPaymentTravelDiet>
        </mat-form-field>
        <mat-form-field class="two-columns-form-field" [appearance]="formFieldsStyle">
          <mat-label><span>Koszty dojazdów środkami komunikacji miejscowej</span></mat-label>
          <input matInput #requestPaymentLocalTransportCosts>
        </mat-form-field>
        <mat-form-field [appearance]="formFieldsStyle">
          <mat-label><span>Inne wydatki</span></mat-label>
          <textarea matInput [placeholder]="'Tu opisz inne wydatki'" #requestPaymentOtherExpensesDescription></textarea>
        </mat-form-field>
        <mat-form-field [appearance]="formFieldsStyle">
          <mat-label><span>Kwota</span></mat-label>
          <input matInput #requestPaymentOtherExpensesValue>
        </mat-form-field>
        <mat-form-field class="two-columns-form-field" [appearance]="formFieldsStyle">
          <mat-label><span>Sumaryczna kwota wnioskowanej zaliczki</span></mat-label>
          <input matInput #requestPaymentSummarizedCosts>
        </mat-form-field>
      </div>
    </div>

    <div class="title subtitle">
      <span>Przedpłaty</span>
    </div>
    <div class="info-text">
      <span>
        Dokonanie przedpłaty jest jednocześnie zobowiązaniem do dostarczenia prawidłowo wystawionej faktury do sekcji Współpracy z Zagranicą najpóźniej w dniu rozliczenia z wyjazdu.
      </span>
    </div>

    <div class="form-group advance-payments">
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Opłata konferencyjna</span></mat-label>
        <input matInput [placeholder]="'Tu wpisz wielkość opłaty'" #conferenceFeeValue>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Forma zapłaty</span></mat-label>
        <mat-select #conferenceFeePaymentTypeSelect>
          <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType.value"><span>{{paymentType.name}}</span></mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Depozyt hotelowy/zakwaterowanie</span></mat-label>
        <input matInput [placeholder]="'Tu wpisz wielkość depozytu'" #depositValue>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Forma zapłaty</span></mat-label>
        <mat-select #depositPaymentTypeSelect>
          <mat-option *ngFor="let paymentType of paymentTypes" [value]="paymentType.value"><span>{{paymentType.name}}</span></mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="title subtitle">
      <span>Seria i numer dokumentu tożsamości wyjeżdzającego za granicę</span>
    </div>

    <div class="form-group identity-document">
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Rodzaj dokumentu</span></mat-label>
        <mat-select #identityDocumentTypeSelect>
          <mat-option *ngFor="let identityDocument of identityDocuments" [value]="identityDocument.value"><span>{{identityDocument.name}}</span></mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Seria i numer</span></mat-label>
        <input matInput #identityDocumentSerialNumber>
      </mat-form-field>
    </div>

    <div class="title subtitle">
      <span>Uwagi</span>
    </div>

    <div class="form-group comments">
      <mat-form-field [appearance]="formFieldsStyle">
        <mat-label><span>Tu wpisz swoje uwagi</span></mat-label>
        <textarea matInput #comments></textarea>
      </mat-form-field>
    </div>

    <div class="outcome-buttons">
      <a><button mat-flat-button color="primary">
        <span>Anuluj</span>
      </button></a>
      <a><button (click)="submitForm($event)" mat-flat-button color="primary">
        <span>Wyślij wniosek</span>
      </button></a>
    </div>
  </form>
</div>
